header, footer
    padding: $gap2 0
    +theme(dark)
    text-align: center
    .dark &
        +theme(darken_1)
    .row
        justify-content: space-between

.logo
    text-decoration: none
    color: inherit
    +ft(20, 20, 700)

.menu
    margin-right: auto
    margin-left: 2em
    +flex(flex, center, start, nowrap)
    gap: $gap1
    a
        text-decoration: none
        color: inherit
        text-transform: uppercase
        +ft(14, 14, 700)
        letter-spacing: 0.05em
        &.isActive
            color: var(--color-main)
       