
$ffText: var(--ffHeading)
$ffBack: var(--ffBack)

$gap1: 8px
$gap2: 16px
$gap3: 24px

$main: var(--color-main)
$black: #000
$white: #fff

$trs: all 0.3s ease-in-out
$bxsd: 0 0 10px -3px rgba($black, 0.1)

$brs0: 4px
$brs1: 8px
$brs2: 16px

$op: 0.6

=theme($theme)
    @if $theme == white
        background-color: $white
        color: $black
    @if $theme == dark
        background-color: $black
        color: $white
    @if $theme == main
        background-color: $main
        color: $white
    @if $theme == light_1
        background-color: var(--color-light-0)
        color: $black
    @if $theme == darken_0
        background-color: var(--color-dark-0)
        color: $white
    @if $theme == darken_1
        background-color: var(--color-dark-1)
        color: $white
    @if $theme == darken_2
        background-color: var(--color-dark-2)
        color: $white

=sz($w, $h)
    width: $w
    height: $h

=flex($fx, $ai, $jc, $fxw)
    display: $fx
    align-items: $ai
    justify-content: $jc
    flex-wrap: $fxw

=ft($fz, $lh: 16, $fw: 400, $ff: $ffText)
    $lh: $lh/$fz
    $fz: $fz/16 + rem
    $ff: $ff, $ffBack
    font: $fw $fz/$lh $ff

%scroll
    &::-webkit-scrollbar
        +sz(10px, 10px)
        border-radius: 16pc

    &::-webkit-scrollbar-track
        background-color: $black
        border-radius: 16pc

    &::-webkit-scrollbar-thumb
        background: var(--color-main)
        border-radius: 16pc
