/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/assets/styles/sass/styles.sass ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --color-main: #00bcd4;
  --color-secondary: #03a9f4;
  --color-red: #f43d3d;
  --color-light-0: #f1f1f1;
  --color-dark-0: #263238;
  --color-dark-1: #37474f;
  --color-dark-2: #455a64;
  --ffHeading: "Lato";
  --ffBack: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --bdc: #d7d7d7;
}
:root .dark {
  --bdc: var(--color-dark-1);
}

html::-webkit-scrollbar, body::-webkit-scrollbar, #root::-webkit-scrollbar, #root > :first-child::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 16pc;
}
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track, #root::-webkit-scrollbar-track, #root > :first-child::-webkit-scrollbar-track {
  background-color: #000;
  border-radius: 16pc;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, #root::-webkit-scrollbar-thumb, #root > :first-child::-webkit-scrollbar-thumb {
  background: var(--color-main);
  border-radius: 16pc;
}

.dark p, .dark li {
  opacity: 0.6;
}

* {
  box-sizing: border-box;
  font-family: var(--ffBack);
}
*::selection {
  background-color: var(--color-main);
  color: #fff;
}

html, body, #root, #root > *:first-child {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--color-light-0);
  color: #000;
}

.page {
  flex: 1 1;
  margin: 3em 0;
}
.page_wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
.dark .page_wrapper {
  background-color: var(--color-dark-0);
  color: #fff;
}

.container {
  max-width: 1200px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 16px;
}

section {
  margin: 24px 0;
}

img {
  max-width: 100%;
}

input:focus, textarea:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border-color: var(--color-main);
}

.btns {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 16px;
}

header, footer {
  padding: 16px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}
.dark header, .dark footer {
  background-color: var(--color-dark-1);
  color: #fff;
}
header .row, footer .row {
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: inherit;
  font: 700 1.25rem/1 var(--ffHeading), var(--ffBack);
}

.menu {
  margin-right: auto;
  margin-left: 2em;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap;
  gap: 8px;
}
.menu a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font: 700 0.875rem/1 var(--ffHeading), var(--ffBack);
  letter-spacing: 0.05em;
}
.menu a.isActive {
  color: var(--color-main);
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/components/UI/Button/styles.module.sass ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_btn__szKBY {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  min-width: 200px;
  height: 46px;
  padding: 0.6em 1em;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font: 500 1rem/1 var(--ffHeading), var(--ffBack);
  letter-spacing: 0.03em;
  background-color: #000;
  color: #fff;
}
.styles_btn__szKBY:hover, .styles_btn__szKBY:active, .styles_btn__szKBY:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background-color: var(--color-main);
  color: #fff;
}
.styles_btn__szKBY.styles_active__kYbIx {
  background-color: var(--color-main);
  color: #fff;
}
.styles_btn__szKBY[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.styles_btn__szKBY.styles_notActive__aEJ5S {
  opacity: 0.6;
}
.styles_btn_bg__Wcxqu, .styles_btn_circleBg__AvoVZ, .styles_btn_squareBg__mdx9x, .styles_btn_brsBg__mQS_y {
  background-color: var(--color-main);
  color: #fff;
}
.styles_btn_bd__rAkfh, .styles_btn_circleBd__Td8XT, .styles_btn_squareBd__bDIGZ, .styles_btn_brsBd__edcTK {
  background: none;
  border-color: var(--color-main);
  color: var(--color-main);
}
.styles_btn_brs__xUBOi {
  border-radius: 16pc;
}
.styles_btn_brsBd__edcTK {
  border-radius: 16pc;
}
.styles_btn_brsBg__mQS_y {
  border-radius: 16pc;
}
.styles_btn_square__C25jW, .styles_btn_circle__ImhMf, .styles_btn_circleBd__Td8XT, .styles_btn_circleBg__AvoVZ, .styles_btn_squareBd__bDIGZ, .styles_btn_squareBg__mdx9x {
  width: 46px;
  height: 46px;
  min-width: 46px;
  padding: 2px;
}
.styles_btn_circle__ImhMf, .styles_btn_circleBd__Td8XT, .styles_btn_circleBg__AvoVZ {
  border-radius: 50%;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/components/UI/Modal/styles.module.sass ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_modal___GlQV {
  position: fixed;
  inset: 0;
  z-index: 100502;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: rgba(0, 0, 0, 0.6);
}
.styles_modal_content__3vb3b {
  max-width: 750px;
  margin: 24px auto;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/components/Auth/styles.module.sass ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_auth__psOv4 {
  background-color: #fff;
  color: #000;
  border-radius: 16px;
  overflow: hidden;
}
.styles_auth_header__u3Wh8 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.styles_auth_header__u3Wh8 button {
  border-radius: 0;
}
.styles_auth_body__M49aJ {
  padding: 2em;
  text-align: left;
}
.styles_auth_body__M49aJ form {
  margin: 0;
  padding: 0;
}
.dark .styles_auth_body__M49aJ form {
  background-color: #fff;
  color: #000;
}
.dark .styles_auth_body__M49aJ form input {
  background-color: #fff;
  color: #000;
}
.styles_auth_body__M49aJ button {
  width: 100%;
}
.styles_auth_body__M49aJ button {
  width: 100%;
}
.styles_auth_body__M49aJ h2, .styles_auth_body__M49aJ h3 {
  margin-top: 0;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/components/UI/Forms/styles.module.sass ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_form__6LAuB {
  padding: 2em;
  margin: 16px auto 0;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
}
.dark .styles_form__6LAuB {
  background-color: var(--color-dark-2);
  color: #fff;
}
.styles_form__6LAuB > div {
  margin: 8px 0;
}
.styles_form__6LAuB label, .styles_form__6LAuB input, .styles_form__6LAuB textarea {
  width: 100%;
}
.styles_form__6LAuB input, .styles_form__6LAuB textarea {
  padding: 8px 16px;
  margin: 8px 0 4px;
  resize: none;
  border-radius: 4px;
  border: 2px solid var(--bdc);
}
.dark .styles_form__6LAuB input, .dark .styles_form__6LAuB textarea {
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}
.styles_form__6LAuB .styles_error__cUkyq {
  color: var(--color-red);
  font-weight: 500;
}
.styles_form__6LAuB .styles_btns__6LUHd {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 24px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/components/UI/ProgressBar/styles.module.sass ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_progress_bar__OcQ_i {
  position: fixed;
  inset: 0;
  z-index: 100500;
  width: 100%;
  height: 10px;
  background-color: #000;
}
.dark .styles_progress_bar__OcQ_i {
  background-color: var(--color-dark-2);
  color: #fff;
}
.styles_progress_thumb__nljRJ {
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: 16pc;
  transition: all 0.3s ease-in-out;
}
