@import ../../../assets/styles/sass/vars
.progress
	&_bar
		position: fixed
		inset: 0
		z-index: 100500
		+sz(100%, 10px)
		background-color: $black
	&_thumb
		height: 100%
		background-color: var(--color-secondary)
		border-radius: 16pc
		transition: $trs
